<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Microblog Rails</title>
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header class="header">
	  <div class="container">
	    <h2 class="logo">
	      <%= link_to 'Microblog Rails', posts_path %>
	    </h2>
	    <%= link_to 'Novo Post', new_post_path, :class => 'btn f-right' %>
	  </div>
	</header>

	<main class="container">
		<%= yield %>
	</main>
</body>
</html>
